Language: Cpp

AlignConsecutiveDeclarations: true
BasedOnStyle: Google
ColumnLimit: 200
IndentWidth: 4
IndentAccessModifiers: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PenaltyBreakAssignment: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
